<h1>Log in to BookMe for Business</h1>

<h2>Provider</h2>
<%= form_for @provider, url: bizlogin_path do |f| %>

<div>
  Email: <%= f.text_field :email %>
</div>

<div>
  Password: <%= f.password_field :password %>
</div>

<%= f.submit "Log in" %>

<% end %>