  
<section id="content" class="content-sidebar bg-white">
    <!-- .sidebar -->
    <aside class="sidebar bg-lighter padder clearfix">
      <h5>Administra tus Eventos</h5>
      <div class="line"></div>
    </aside>
    <!-- /.sidebar -->
    <!-- .main -->
    <section class="main">
      <div class="calendar" id="calendar">

      </div>
    </section>
    <!-- /.main -->
  </section>