<section id="content">
	<section class="main padder">
		<div class="clearfix"> 
			<h4><i class="glyphicon glyphicon-edit"></i>Nuevo Evento</h4> 
		</div>
		<div class="row">
			<div class="col-md-6">
				<section class="panel">
					<div class="panel-body">
						<%= render 'form' %>
						<%= link_to 'Back', events_path %>
					</div>
				</section>
			</div>
		</div>
	</section>
</section>
